body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.post {
    margin: 0 auto;
    background-color: ghostwhite;
    width: 500px;
    height: 800px;
    overflow: auto;
}

.post-header {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    align-items: center;
}

.numero {
    display: flex;
    align-items: center;
}

.usuario {
    line-height: 0;
    margin-left: 5px;
}

.puntos {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 2px; 
}

img.img {
    margin-top: 0px;
    width: 500px;
    height: 300px;
}

.iconos {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.texto {
    margin: 10px; 
    padding: 12px;
}
